html {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f5f6;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  min-width: 340px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
}

.login-title-box {
  /* background-color: antiquewhite; */
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem 1.5rem;
}

.info-p {
  margin-left: 2rem;
}

.login-form {
  padding: 1rem 2rem;
  /* padding-top: 0.5rem; */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.form-group input {
  height: 2.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.3rem;
  padding-left: 1rem;
  font: inherit;
  font-size: 1rem;
}

.form-group input:focus {
  outline: 1px solid #c5c5c5;
}

::placeholder {
  color: #d7d7d7;
}

.form-group .btn {
  background-color: #4caf50;
  font-weight: 600;
  color: #ffffff;
  height: 3rem;
}

.btn-secondary {
  margin-top: 0rem !important;
  background-color: #ffc0c7 !important;
}
