html {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.login-title-box h2 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f5f6;
}

.wrapper {
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
}

.login-title-box {
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem 1.5rem;
}

.info-p {
  padding: 0 1.5rem;
}

.login-form {
  padding: 0.5rem 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.form-group input {
  height: 2.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.3rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.form-group input:focus {
  outline: 1px solid #c5c5c5;
}

::placeholder {
  color: #d7d7d7;
}

/* Mobile version adjusment */
@media screen and (max-width: 770px) {
  .wrapper {
    max-width: 350px;
  }

  .wrapper-signup {
    top: 60%;
  }
}
